.tab {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
}

.tab > section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}


.tab > button {
  padding: 10px 24px 0px 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.selected{
  border-bottom: 3px solid var(--primary) !important;
  color: var(--primary);
  font-weight: 700;
}

.notSelected{
  border-bottom: 1px solid var(--grayscale-black) !important ;
  font-weight: 500;
  color: var(--grayscale-black);
}