@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.outlet{
    display: flex;
    flex: 15;
}

.outlet > article{
 flex: 9;
}

