.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #d9d9d9;
  flex: 1;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logoKabeli>a>img{
  width: 80px;
  max-width: 160px;
}

.logoKabeli>a{
  cursor: pointer;
}

.icons > a {
  cursor: pointer;
}

.icons > a > img {
  display: flex;
  align-items: center;
  width: 18px;
}

.userInfo{
  display: flex;
  align-items: center;
}

.userInfo >article {
  display: flex;
  flex-direction: column;
}


.userInfo > article>h5 {
  font-size: 14px;
  margin: 0px;
}

.userInfo > article >h6 {
  font-size: 12px;
  margin: 0;
}

.section {
  display: flex;
  align-items: center;
}

.circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: black;
  margin-right: 15px;
}
