.container{
    margin-top: 4px;
    display: flex;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    width: 12%;
    max-width: 30%;
    height: 100%;
}

.list{
    margin-top: 40%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-flow: column wrap;
    row-gap: 1em;
}
.txtLabel{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.inputRadio{
    margin-right: 0.5em;
}

.listElement{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
