.container {
  margin-top: 4px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #d9d9d9;
  margin-right: 0px;
  flex: 1;
}

.list {
  margin-top: 60%;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-flow: column wrap;
  row-gap: 1em;
  margin-left: 0.5em;
}

.listItem{
    display: flex;
    align-items: center;
}

.listItem > article {
    font-size: 14px;
    font-style: normal;
    margin-left: 10px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.circleClicked{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #555555;
  cursor: pointer;
}
