.container {
  color: #334459;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 25px 40px;
  align-items: center;

  position: absolute;
  width: 18%;
  height: 400px;
  left: calc(50% - 424px / 2);
  top: calc(50% - 550px / 2);

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(185, 201, 221, 0.6);
  border-radius: 4px;
  gap: 20px;
}

.container > figure {
  flex: 1;
  margin: 0px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.container > figure > a > img {
  max-width: 200px;
  width: 120px;
}

.container > h1 {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.container > svg {
  flex: 3;
  color: var(--state-success);
  width: 50px;
}
.container > p {
  flex: 5;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
}

.container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--state-success);
  border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  flex: 1;
  border: none;
  cursor: pointer;
}

.containerError {
  color: #334459;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 25px 40px;
  align-items: center;

  position: absolute;
  width: 18%;
  height: 400px;
  left: calc(50% - 424px / 2);
  top: calc(50% - 550px / 2);

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(185, 201, 221, 0.6);
  border-radius: 4px;
  gap: 20px;
}

.containerError > figure {
  flex: 1;
  margin: 0px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.containerError > figure > a > img {
  max-width: 200px;
  width: 120px;
}

.containerError > h1 {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.containerError > svg {
  flex: 3;
  color: var(--state-error);
  width: 50px;
}
.containerError > p {
  flex: 5;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
}

.containerError > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--state-success);
  border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  flex: 1;
  border: none;
  cursor: pointer;
}